.navlinks 
    display: flex
    flex-flow: column nowrap

.link
    display: inline-block
    // width: auto
    margin: 5px
    color: $color-dark
    border-bottom: 2px solid transparent
    &:hover
        border-bottom: 2px solid $color-dark

@media ( min-width: $bp-mobile )
    .mobilenav
        display: none
@media ( max-width: $bp-mobile - 1 )
    .navigation 
        display: none
    