.navigation 
    text-align: right

.mobilenav
    text-align: right


@media ( min-width: $bp-mobile )
    .mobilenav
        display: none
@media ( max-width: $bp-mobile - 1 )
    .navigation 
        display: none
    